@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "EuclidIgnited";
    /* src: url(./assets/novarese-medium.otf) format("OpenType"); */
    /* src: url("./assets/EuclidCircular.ttf") format("truetype"); */
    /* src: url("./assets/Euclid Circular A Light.ttf") format("truetype"); */
    src: url("./assets/LS-Babylon.ttf") format("truetype");
    /* src: url("SVN-Peristiwa.otf") format("OpenType"); */
    /* Add additional font formats if necessary */
    /* Specify the correct path to the font files */
  }

  @font-face {
    font-family: "Peristiwa";
    src: url("./assets/SVN-Peristiwa.otf") format("OpenType");
  }

  @font-face {
    font-family: "Manhattan";
    src: url("./assets/LS-Babylon.ttf") format("truetype");
  }

  @font-face {
    font-family: "DejaVuSerif";
    src: url("./assets/DejaVuSerif.ttf") format("truetype");
  }
  @font-face {
    font-family: "bogart";
    src: url("./assets/Bogart-Light-trial.ttf") format("truetype");

  }
}

body {
  font-family: "bogart","DejaVuSerif",sans-serif;
  overflow-x: hidden;
}

:root {
  --swiper-theme-color: #000;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
